
:root {
    --main-bg-color: linear-gradient(to right,#c43e95, #7e4d9f);
    --main-bg-color2: linear-gradient(to right,#7e4d9f, #7e4d9f);
    --main-color : #7e4d9f;
    --main-hover-color : #c43e95;
  }


.checkoutPageContentBox{
    margin: 50px;
}


.checkoutSteps{
    display: flex;
    
}
.steps{
    width: 50%;
    text-align: center;
    padding: 8px 0px;
    position: relative;

}
.steps div{
    width: 100%;
    display: block;
    border-radius: 2px;
}

.steps button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    transition: 0.2s;
}
.steps button:hover{
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.steps p{
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}



/* checkout form boxes  */

.checkoutDetialsBox h3{
    color: gray;
}
.checkoutDetialsForm{
    display: flex;
    justify-content: space-between;

}
.formBox{
    width: 65%;

}
/* .slide{
    animation-name: slide;
    animation-duration: 1s;
    transition: 0.5s;
}
@keyframes slide {
    0%{

        margin-left: -200px;
    }100%{
        margin-left: 0px;
    }
} */

.formBox label{
    font-weight: normal;
}




.summaryBox{
    width: 30%;
    
}


#nextBtn{

    padding: 8px 20px;
    background: var(--main-bg-color);
    color: white;
    border: none;
    font-size: 18px;
    display: block;
    margin-left: auto;
}





.checkoutSummary{
    background-color: #f5f5f5;
    padding: 20px;
    color: black;

}
.checkoutSummary h3{
    color: gray;
    margin: 0px;
}

.summaryContent{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}






















/* Responsive */
@media only screen and (max-width:800px){
    
    .checkoutSteps{
        display: none;
    }
    .checkoutDetialsBox{
        margin: 0px;
    }
    .checkoutDetialsForm{
        flex-direction: column;
        flex-flow: column-reverse;
        
    }
    .checkoutBoxes {
        width: 100%;
    }
    .formBox {
        margin-top: 30px;
    }
}


@media only screen and (max-width:400px){
    .checkoutPageContentBox{
        margin: 20px;
    }
}